[submodule "3rdparty/spectral-exr"]
	path = 3rdparty/spectral-exr
	url = https://github.com/afichet/spectral-exr.git
[submodule "3rdparty/libjxl"]
	path = 3rdparty/libjxl
	url = https://github.com/libjxl/libjxl.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
